.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30%;
  font-size: 3.2vh;
}

.languageSwitchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 50%;
  font-size: 3.2vh;
}

.checkbox {
  width: 1em;
  height: 1em;
  background-color: none;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin-right: 10%;
}

.checkbox:checked {
  z-index: 1;
  animation: blink 2s infinite linear;
}

@keyframes blink {
  0% {
    background-color: white;
    box-shadow:
      0 0 60px 20px #fff,
      /* inner white */
      0 0 100px 25px #f0f,
      /* middle magenta */
      0 0 140px 30px #0ff;
    /* outer cyan */
  }

  50% {
    background-color: #bfbfbf;
    box-shadow:
      0 0 30px 10px #6e6d6d,
      0 0 50px 12px #f0f,
      0 0 70px 15px #0ff;
  }

  100% {
    background-color: white;
    box-shadow:
      0 0 60px 20px #fff,
      0 0 100px 25px #f0f,
      0 0 140px 30px #0ff;
  }
}


@media only screen and (max-width: 1250px) and (min-width: 760px) {
  .container {
    width: 50%;
    font-size: 2svh;
  }

  .languageSwitchContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
  }

  .section {
    width: 50%;
    font-size: 2svh;
    justify-content: center;
  }
}

@media only screen and (max-width: 760px) {
  .container {
    width: 50%;
    font-size: 3.2svh;
  }

  .section {
    width: 65%;
    font-size: 3.2svh;
  }
}
